In [1]:
import pandas as pd
import numpy as nm
import seaborn as sn

In [7]:
df=pd.read_csv("school.csv")
df

,school_name,district_name,date,time,city,enrollment,killed,injured,casualties,shooting_type,gender_shooter1,shooter_relationship1,shooter_deceased1,white,black,resource_officer,weapon_source
0,Columbine High School,0,5/25/1999,11:19 AM,Littleton,aaaaa,13,21,34,indiscriminate,m,student,1.0,1783,16.0,1,purchased from friend
1,Scotlandville Middle School,East Baton Rouge Parish School Board,4/22/1999,12:30 PM,Baton Rouge,588,0,1,1,targeted,m,former student (expelled),0.0,5,583.0,0,NaN
2,Heritage High School,Rockdale County,5/20/1999,8:03 AM,Conyers,1369,0,6,6,indiscriminate,m,student,0.0,1189,136.0,1,NaN
3,John Bartram High School,Philadelphia City SD,10/4/1999,10:00 AM,Philadelphia,3147,0,1,1,targeted,m,student,0.0,209,2736.0,1,purchased from friend
4,Dorchester High School,Boston,11/3/1999,7:40 AM,Boston,1116,0,1,1,targeted,m,NaN,0.0,40,755.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Seaside High School,Monterey Peninsula Unified,3/13/2018,1:20 PM,Seaside,1059,0,3,3,accidental,m,teacher,0.0,113,79.0,0,department issued
214,Big Sky High School,Missoula H S,3/16/2018,12:45 PM,Missoula,1075,0,0,0,targeted,m,resource officer,0.0,903,17.0,1,department issued
215,Douglass Park Elementary School,Portsmouth City Pblc Schs,3/19/2018,4:23 PM,Portsmouth,761,0,1,1,unclear,m,student,0.0,5,738.0,0,NaN
216,Great Mills High School,St. Mary's County Public Schools,3/20/2018,7:55 AM,Great Mills,1535,1,1,2,targeted,m,student,1.0,657,577.0,1,father
217,Great Mills High School,St. Mary's County Public Schools,3/20/2018,7:55:00 AM,Great Mills,1535,1,1,2,targeted,m,student,1.0,657,577.0,1,father

In [8]:
df.columns

Index(['school_name', 'district_name', 'date', 'time', 'city', 'enrollment',
       'killed', 'injured', 'casualties', 'shooting_type', 'gender_shooter1',
       'shooter_relationship1', 'shooter_deceased1', 'white', 'black',
       'resource_officer', 'weapon_source'],
      dtype='object')

In [4]:
df.isnull().sum()

uid                        0
nces_school_id             3
school_name                0
district_name             11
date                       0
school_year                0
year                       0
time                      11
day_of_week                0
city                       0
school_type                0
enrollment                 0
killed                     0
injured                    0
casualties                 0
shooting_type              0
gender_shooter1            2
shooter_relationship1     40
shooter_deceased1          2
white                      0
black                      1
resource_officer           0
weapon_source            129
county_fips                0
dtype: int64

In [9]:
df['district_name'].fillna('D/S',inplace=True)
df.to_csv('school',index=True)
df

,school_name,district_name,date,time,city,enrollment,killed,injured,casualties,shooting_type,gender_shooter1,shooter_relationship1,shooter_deceased1,white,black,resource_officer,weapon_source
0,Columbine High School,0,5/25/1999,11:19 AM,Littleton,aaaaa,13,21,34,indiscriminate,m,student,1.0,1783,16.0,1,purchased from friend
1,Scotlandville Middle School,East Baton Rouge Parish School Board,4/22/1999,12:30 PM,Baton Rouge,588,0,1,1,targeted,m,former student (expelled),0.0,5,583.0,0,NaN
2,Heritage High School,Rockdale County,5/20/1999,8:03 AM,Conyers,1369,0,6,6,indiscriminate,m,student,0.0,1189,136.0,1,NaN
3,John Bartram High School,Philadelphia City SD,10/4/1999,10:00 AM,Philadelphia,3147,0,1,1,targeted,m,student,0.0,209,2736.0,1,purchased from friend
4,Dorchester High School,Boston,11/3/1999,7:40 AM,Boston,1116,0,1,1,targeted,m,NaN,0.0,40,755.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Seaside High School,Monterey Peninsula Unified,3/13/2018,1:20 PM,Seaside,1059,0,3,3,accidental,m,teacher,0.0,113,79.0,0,department issued
214,Big Sky High School,Missoula H S,3/16/2018,12:45 PM,Missoula,1075,0,0,0,targeted,m,resource officer,0.0,903,17.0,1,department issued
215,Douglass Park Elementary School,Portsmouth City Pblc Schs,3/19/2018,4:23 PM,Portsmouth,761,0,1,1,unclear,m,student,0.0,5,738.0,0,NaN
216,Great Mills High School,St. Mary's County Public Schools,3/20/2018,7:55 AM,Great Mills,1535,1,1,2,targeted,m,student,1.0,657,577.0,1,father
217,Great Mills High School,St. Mary's County Public Schools,3/20/2018,7:55:00 AM,Great Mills,1535,1,1,2,targeted,m,student,1.0,657,577.0,1,father

In [6]:
df.isnull().sum()

uid                        0
nces_school_id             3
school_name                0
district_name              0
date                       0
school_year                0
year                       0
time                      11
day_of_week                0
city                       0
school_type                0
enrollment                 0
killed                     0
injured                    0
casualties                 0
shooting_type              0
gender_shooter1            2
shooter_relationship1     40
shooter_deceased1          2
white                      0
black                      1
resource_officer           0
weapon_source            129
county_fips                0
dtype: int64

In [10]:
df['time']=pd.to_datetime(df['time'])
mean_time=df['time'].mean()
mean_time
df.to_csv('school',index=True)

In [11]:
df['time'].fillna( mean_time,inplace=True)
df.to_csv('school',index=True)

In [12]:
df.isnull().sum()

school_name                0
district_name              0
date                       0
time                       0
city                       0
enrollment                 0
killed                     0
injured                    0
casualties                 0
shooting_type              0
gender_shooter1            2
shooter_relationship1     40
shooter_deceased1          2
white                      0
black                      1
resource_officer           0
weapon_source            129
dtype: int64

In [13]:
df['gender_shooter1'].fillna( 'm',inplace=True)
df.to_csv('school',index=True)

In [14]:
df.isnull().sum()

school_name                0
district_name              0
date                       0
time                       0
city                       0
enrollment                 0
killed                     0
injured                    0
casualties                 0
shooting_type              0
gender_shooter1            0
shooter_relationship1     40
shooter_deceased1          2
white                      0
black                      1
resource_officer           0
weapon_source            129
dtype: int64

In [15]:
df['weapon_source'].fillna( 'N/A',inplace=True)
df.to_csv('school',index=True)

In [16]:
mean_black=df['black'].mean()
mean_black

367.70506912442397

In [17]:
df['black'].fillna(mean_black,inplace=True)
df.to_csv('school',index=True)

In [18]:
df['shooter_relationship1'].fillna( 'N/A',inplace=True)
df.to_csv('school',index=True)

In [19]:
mean_sd =df['shooter_deceased1'].mean()
mean_sd

0.14814814814814814

In [20]:
df['shooter_deceased1'].fillna(mean_sd ,inplace=True)
df.to_csv('school',index=True)

In [23]:
df.isnull().sum()

school_name              0
district_name            0
date                     0
time                     0
city                     0
enrollment               0
killed                   0
injured                  0
casualties               0
shooting_type            0
gender_shooter1          0
shooter_relationship1    0
shooter_deceased1        0
white                    0
black                    0
resource_officer         0
weapon_source            0
dtype: int64

In [35]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
213    False
214    False
215    False
216    False
217     True
Length: 218, dtype: bool

In [37]:
df.drop_duplicates()
df.to_csv('school',index=False)

In [38]:
inconsist_value=df['district_name'].value_counts()
inconsist_value

D/S                                     11
Los Angeles Unified                      6
Philadelphia City SD                     4
Mobile County                            3
District Of Columbia Pub Schls           2
                                        ..
Winston Salem/Forsyth County Schools     1
Delaware Valley CHS                      1
San Bernardino City Unified              1
Seminole County School District          1
Spokane School District                  1
Name: district_name, Length: 182, dtype: int64

In [39]:
inconsist_value=df['district_name'].unique()
inconsist_value

array(['0', 'East Baton Rouge Parish School Board', 'Rockdale County',
       'Philadelphia City SD', 'Boston', 'Deming Public Schools',
       'Fort Gibson', 'Pasco', 'Merced City Elementary',
       'City of Chicago School District 299',
       'Desoto County School District', 'Tecumseh',
       'Beecher Community School District', 'Hugo',
       'Sierra Vista Unified District',
       'Palm Beach County School District', 'Renton',
       'Mount Healthy City SD', 'Orleans Parish School Board',
       'Oxnard Union High', 'Baltimore City Public Schools', 'Dallas ISD',
       'Grossmont Union High', 'D/S', 'Gary Community School Corp',
       'City of Monroe School Board', 'Ennis ISD', 'Los Angeles Unified',
       'Covington Independent', 'Redondo Beach Unified',
       'Caro Community Schools', 'New York City Public Schools',
       "Prince George's County Public Schools", 'Jersey City',
       'Providence School District', 'Westminster 50',
       'District Of Columbia Pub Schls', 'Delhi Unified',
       'Red Lion Area SD', 'Vicksburg Warren School Dist',
       'Spokane School District', 'Rocori', 'Cleveland County Schools',
       'Elk Grove Unified', 'Charlotte-Mecklenburg Schools',
       'East Greenbush Central School District', 'Oakland Unified',
       'Proviso Twp H S Dist 209', 'Baltimore City', 'Orleans Parish',
       'Peoria School District 150', 'City Of Chicago School Dist 299',
       'Nashville-Davidson County SD', 'Red Lake', 'Canton ISD',
       'West Shore SD', 'Jefferson County School District',
       'Duval County School District', 'City Of Chicago Sd 299',
       'Farmington R-VII', 'Saginaw City School District',
       'Campbell County School Distrct', 'Detroit City School District',
       'Milwaukee Sch Dist', 'Seminole County School District',
       'Chesapeake City Public Schools', 'Vacaville Unified',
       'Garland ISD', 'Pittsburgh SD', 'Douglas County SD 4', 'Washoe',
       'Orange County Schools', 'Fort Worth ISD',
       'Platte Canyon, School District No. 1, Of The County Of Park',
       'Weston', 'Joplin R-VIII', 'Tacoma School District',
       'Cincinnati City', 'Midland Public Schools',
       'Gresham-Barlow Sd 10J', 'Los Fresnos CISD', 'Hillsborough',
       'Cleveland Municipal City', 'Chatham County',
       'Crossroads Charter High', 'Memphis City School District',
       'Hueneme Elementary', 'Fresno Unified',
       'Knox County School District', 'Broward', 'Hayward Unified',
       'Duval', 'Lafourche Parish', 'Stamford Academy',
       'Henrico Co Pblc Schs',
       'Mattituck-Cutchogue Union Free School District', 'Horry 01',
       'Caddo Parish', 'Madison City',
       'Jefferson County School District No. R-1',
       'Portsmouth City Pblc Schs', 'Sullivan County',
       'Salinas Union High', 'Carlsbad Unified',
       'Marinette School District', 'Millard Public Schools',
       'Placerville Union Elementary', 'M S D Martinsville Schools',
       'Orange', 'Houston ISD', 'Cumberland County Schools',
       'Brownsville ISD', 'North Forest ISD',
       'Fall Mountain Regional School District',
       'Bremerton School District', 'Chardon Local', 'Mobile County',
       'Chapel Hill-Carrboro Schools', 'Baltimore County Public Schools',
       'Mclean County USD 5', 'Newtown School District',
       'Taft Union High', 'Atlanta Public Schools', 'Dade',
       'Dekalb County', 'Winston Salem/Forsyth County Schools',
       'Austin ISD', 'Washoe County School District',
       'Chino Valley Unified',
       'Littleton, School District No. 6, In The County Of Arapahoe',
       'Madison County', 'Roswell Independent Schools', 'Lancaster SD',
       'Delaware Valley CHS', 'Carbondale CHSD 165',
       'Hawaii Department Of Education',
       'Bend-Lapine Administrative SD 1', 'Rowan-Salisbury Schools',
       'Kansas City 33', 'Fulton County', 'Pitt County Schools',
       'Reynolds SD 7', 'Jefferson County', 'Stanly County Schools',
       'Marysville School District', 'North Thurston Public Schools',
       'Richmond County', 'Harrisburg School District 41-2', 'Judson ISD',
       'Colquitt County', 'Citrus', 'Harmony Grove School District',
       'Glendale Union High School District', 'Madison Local',
       'Birmingham City', 'Alpine ISD', 'Anderson 04',
       'Columbus City School District', 'San Francisco Unified',
       'Canyons District', 'Bay City School District', 'Davis District',
       'West Liberty-Salem Local', 'East Baton Rouge Parish',
       'Montgomery County', 'San Bernardino City Unified',
       'Calcasieu Parish', 'Hale County', 'City of Chicago SD 299',
       'Freeman School District', 'Mattoon CUSD 2',
       'Lansing Public School District', 'Corning Union Elementary',
       'Aztec Municipal Schools', 'Guilford County Schools',
       'Rsd-educators For Quality Alternatives', 'Italy ISD',
       'Marshall County', 'Dalton City', 'Monterey Peninsula Unified',
       'Missoula H S', "St. Mary's County Public Schools"], dtype=object)

In [40]:
string_value=df[df['district_name'].str.isnumeric()]
string_value

,uid,nces_school_id,school_name,district_name,date,school_year,year,time,day_of_week,city,...,casualties,shooting_type,gender_shooter1,shooter_relationship1,shooter_deceased1,white,black,resource_officer,weapon_source,county_fips
0,1,80480000707,Columbine High School,0,5/25/1999,1998-1999,3000,2024-01-11 11:19:00,0,Littleton,...,34,indiscriminate,0,student,1.0,1783,16.0,55555,55555,8059

In [41]:
replacement=df.loc[df['district_name']=='district_name','string_value']='N/S'
replacement
df.to_csv('school',index=False)

In [42]:
df.to_csv('school',index=False)

In [43]:
df

,uid,nces_school_id,school_name,district_name,date,school_year,year,time,day_of_week,city,...,shooting_type,gender_shooter1,shooter_relationship1,shooter_deceased1,white,black,resource_officer,weapon_source,county_fips,string_value
0,1,80480000707,Columbine High School,0,5/25/1999,1998-1999,3000,2024-01-11 11:19:00,0,Littleton,...,indiscriminate,0,student,1.0,1783,16.0,55555,55555,8059,NaN
1,2,2.20E+11,Scotlandville Middle School,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,2024-01-11 12:30:00,Thursday,Baton Rouge,...,targeted,m,former student (expelled),0.0,5,583.0,0,N/A,22033,NaN
2,3,1.30E+11,Heritage High School,Rockdale County,5/20/1999,1998-1999,1999,2024-01-11 08:03:00,Thursday,Conyers,...,indiscriminate,m,student,0.0,1189,136.0,1,N/A,13247,NaN
3,4,4.22E+11,John Bartram High School,Philadelphia City SD,10/4/1999,1999-2000,1999,2024-01-11 10:00:00,Monday,Philadelphia,...,targeted,m,student,0.0,209,2736.0,1,purchased from friend,42101,NaN
4,5,2.50E+11,Dorchester High School,Boston,11/3/1999,1999-2000,1999,2024-01-11 07:40:00,Wednesday,Boston,...,targeted,m,N/A,0.0,40,755.0,0,N/A,25025,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,212,62553003843,Seaside High School,Monterey Peninsula Unified,3/13/2018,2017-2018,2018,2024-01-11 13:20:00,Tuesday,Seaside,...,accidental,m,teacher,0.0,113,79.0,0,department issued,6053,NaN
214,213,3.02E+11,Big Sky High School,Missoula H S,3/16/2018,2017-2018,2018,2024-01-11 12:45:00,Friday,Missoula,...,targeted,m,resource officer,0.0,903,17.0,1,department issued,30063,NaN
215,214,5.10E+11,Douglass Park Elementary School,Portsmouth City Pblc Schs,3/19/2018,2017-2018,2018,2024-01-11 16:23:00,Monday,Portsmouth,...,unclear,m,student,0.0,5,738.0,0,N/A,51740,NaN
216,215,2.40E+11,Great Mills High School,St. Mary's County Public Schools,3/20/2018,2017-2018,2018,2024-01-11 07:55:00,Tuesday,Great Mills,...,targeted,m,student,1.0,657,577.0,1,father,24037,NaN
217,215,2.40E+11,Great Mills High School,St. Mary's County Public Schools,3/20/2018,2017-2018,2018,2024-01-11 07:55:00,Tuesday,Great Mills,...,targeted,m,student,1.0,657,577.0,1,father,24037,NaN

In [44]:
string_value1=df[df['day_of_week'].str.isnumeric()]
string_value1

,uid,nces_school_id,school_name,district_name,date,school_year,year,time,day_of_week,city,...,shooting_type,gender_shooter1,shooter_relationship1,shooter_deceased1,white,black,resource_officer,weapon_source,county_fips,string_value
0,1,80480000707,Columbine High School,0,5/25/1999,1998-1999,3000,2024-01-11 11:19:00,0,Littleton,...,indiscriminate,0,student,1.0,1783,16.0,55555,55555,8059,NaN

In [47]:
replacement1=df.loc[df['day_of_week']=='day_of_week','string_value1']='N/S'
df.to_csv('school',index=False)
replacement1

'N/S'

In [49]:
df.to_csv('school',index=False)
df

,uid,nces_school_id,school_name,district_name,date,school_year,year,time,day_of_week,city,...,gender_shooter1,shooter_relationship1,shooter_deceased1,white,black,resource_officer,weapon_source,county_fips,string_value,string_value1
0,1,80480000707,Columbine High School,0,5/25/1999,1998-1999,3000,2024-01-11 11:19:00,0,Littleton,...,0,student,1.0,1783,16.0,55555,55555,8059,NaN,NaN
1,2,2.20E+11,Scotlandville Middle School,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,2024-01-11 12:30:00,Thursday,Baton Rouge,...,m,former student (expelled),0.0,5,583.0,0,N/A,22033,NaN,NaN
2,3,1.30E+11,Heritage High School,Rockdale County,5/20/1999,1998-1999,1999,2024-01-11 08:03:00,Thursday,Conyers,...,m,student,0.0,1189,136.0,1,N/A,13247,NaN,NaN
3,4,4.22E+11,John Bartram High School,Philadelphia City SD,10/4/1999,1999-2000,1999,2024-01-11 10:00:00,Monday,Philadelphia,...,m,student,0.0,209,2736.0,1,purchased from friend,42101,NaN,NaN
4,5,2.50E+11,Dorchester High School,Boston,11/3/1999,1999-2000,1999,2024-01-11 07:40:00,Wednesday,Boston,...,m,N/A,0.0,40,755.0,0,N/A,25025,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,212,62553003843,Seaside High School,Monterey Peninsula Unified,3/13/2018,2017-2018,2018,2024-01-11 13:20:00,Tuesday,Seaside,...,m,teacher,0.0,113,79.0,0,department issued,6053,NaN,NaN
214,213,3.02E+11,Big Sky High School,Missoula H S,3/16/2018,2017-2018,2018,2024-01-11 12:45:00,Friday,Missoula,...,m,resource officer,0.0,903,17.0,1,department issued,30063,NaN,NaN
215,214,5.10E+11,Douglass Park Elementary School,Portsmouth City Pblc Schs,3/19/2018,2017-2018,2018,2024-01-11 16:23:00,Monday,Portsmouth,...,m,student,0.0,5,738.0,0,N/A,51740,NaN,NaN
216,215,2.40E+11,Great Mills High School,St. Mary's County Public Schools,3/20/2018,2017-2018,2018,2024-01-11 07:55:00,Tuesday,Great Mills,...,m,student,1.0,657,577.0,1,father,24037,NaN,NaN
217,215,2.40E+11,Great Mills High School,St. Mary's County Public Schools,3/20/2018,2017-2018,2018,2024-01-11 07:55:00,Tuesday,Great Mills,...,m,student,1.0,657,577.0,1,father,24037,NaN,NaN